.search-form {
  width: 343px !important;
  margin: 0 auto !important;
  background-color: #edf2f7 !important;
  border: none !important;
}

.new-search {
  top: 14%;
  right: 4%;
  color: #2e4457;
}
